extends layout

block content
    .container.landing-content-(style='min-height: 20em; margin-bottom: 2em;')
      div(style='')
        div(style='align-items: center;')
          h1.container.mian-slogan
            | ACCESS DENIED
          br
      br
      form.container.form-login(action='./')
        .container
          button.btn.btn-danger.main-Enroll  Home 
          br
    div(style='min-height: 6em;')
  