extends layoutConfirm 

block content
    .container.landing-content-(style='min-height: 20em; margin-bottom: 2em;')
      img(src='../images/circle.jpg' width='20%' alt='')
      h1.container.mian-slogan
        | Done ! 
        br
        |  Redirecting you to your profile...
      br
    div(style='min-height: 6em;')  


