extends layout

block content
    .container.landing-content-(style='min-height: 20em; margin-bottom: 2em;')
      br
      div(style='')
        div(style='align-items: center;').btn-info 
          h1(style='color:white').container.mian-slogan Congratulations #{userName}!,
        br   
        h3 Your account has been registered! Please click on: 
            br
            br
            a(href="./enroll2" style='font-size:0.8em;').btn.btn-danger Add Student
  
  