extends layout

block content
      .container.landing-content-(style='min-height: 20em; margin-bottom: 2em;')
        h1.container.slogan
          | You have Enrolled successfully!, 
          br
          img(src='../images//pallete.png' width='20%' alt='')
          a(href='./login') Please login
        br
      div(style='min-height: 6em;')  
  