extends layout

block content
    .container.landing-content-(style='min-height: 20em; margin-bottom: 2em;')
      div(style='')
        div(style='max-width: 30em; margin: auto;')
          img(src='../images/artist.png' width='90%' alt='')
        div(style='align-items: center;')
          h1.container.mian-slogan
            | It is time to release your dreams, unlimit your creative ideas and
            | make your artwork looks professional with the greatest academic techniques.
          br
      br
      .container.form-login
        .container
          if (is_session)
            a(href='/userDash').buttonAction  Profile
          else 
            a(href='/enroll').buttonAction  Enroll Now! 
          br
    div(style='min-height: 6em;')
  