extends layout

block content
      .container.login-formContainer
        if(sent)
          h1(style='color:#008000').slogan Your password has been sent to your registered email
          h1.slogan Please check your email and 
            a(href='./login')  login
          br
        else
          h1.slogan
            | Please insert your email below, and we will send you ure passowrd in minutes
          br
          form.container.form-login(action='./sendPassword' method='post')
            .container.credentials
              input.login-input(type='email' name='recoverEmail' id='' placeholder='Enter your email' required='')
              br
              button.btn.btn-info.login-input-btn Send
              br
      div(style='min-height: 6em;')  