extends layout2 

block content
    .container.landing-content-(style='min-height: 20em; margin-bottom: 2em;')
      img(src='./image/circle.jpg' width='20%' alt='')
      h1.container.mian-slogan
        | Your messgae has been sent successfully, Thank you ! 
        br
        |  We will contact you shortly!
      br
    div(style='min-height: 6em;')  


